

body {
    overflow-x: hidden;
    background-color: #f3f3f3;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    color:#96044b;
}
label{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    color:#2c3e50;

    
}
.form-labels-on-top{
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-top: 2px solid #96044b;
    border-bottom: 2px solid #96044b;
}
.shadow {
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.3);
  
}
input:focus{
    border-color: rgba(44, 62, 80,0.7)!important;
}
hr.style1{
    border-top: 1px solid #96044b;
}
.teamEvent{
    text-align: center;
    text-transform: uppercase;
    color:#96044b;
}
.teamEventdetails
{
    text-transform: none;
    font-size: 15px;
    margin-bottom: 5px;
}
.amount{
    background-color:#96044b;
    color:white;
    padding: 4px;
}
.btn-primary{
    background-color: #96044b;
    border-color: #96044b;
}
